.item {
  border-radius: 5px;
  background-color: #cbc9c9;
  margin-bottom: 10px;
}

.name {
  color: #000000;
  text-decoration-line: underline;
  a { color:#000; }
  a:hover, a:visited { color: #505050; }
}

.code {
  color: #646464;
}
