/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@import '@angular/material';

$my-primary: define-palette($purple-palette, 500);
$my-accent:define-palette($purple-palette, A200, A100, A400);
